
nav {
    margin-bottom: 1rem;
}

a, a:hover {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.blink {
    animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}
